<div class="foundersView">
  <div class="headerDirCon">
    <header-directive></header-directive>
  </div>
  <div class="spacer"></div>
  <div class="founderBox" id="firstFounder" >
    <button ui-sref="home" class="fBtn"type="button" name="button">Home</button>
    <div class="displayer">
      <div class="imgBox">
        <img src="./img/IMG_1619.JPG" alt="">
      </div>
      <div class="founderInfo">
        <h1>Jacob Hill</h1>
        <br>
        <br>
        <p>Head of Design<br>
          I enjoy snowy nights watching movies. <br>
          Tech - HTML | SASS | jQuery | Angular | Node | SQL  <br>
        </p>
        <br>
        <div class="founderSocials">
          <ul>
            <a href="https://www.linkedin.com/in/bjacobhill"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
            <a href="https://github.com/hilljacob"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
            <a href="https://www.branded.me/jakehill"><i style='font-size: 44px;'class="fa fa-pied-piper" aria-hidden="true"></i></a>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="founderBox" id="firstFounder" >
    <div class="displayer">
      <div class="imgBox">
        <img src="https://static1.squarespace.com/static/5296565fe4b0aa5ff545349d/54efb393e4b0ad929f997bff/54efb3c2e4b0da6eadba4f74/1425038395265/Portrait+Faces+and+Photography+150124-2.JPG" alt="">
      </div>
      <div class="founderInfo">
        <h1>founder name</h1>
        <br>
        <br>
        <p>ertyjkl;lkjhgf ghjkjhgfghj <br>
          jklkjklkjklkjkklklk lklklklklklk <br>
          jkjkokjkokkokokkok kjkkkokkokojkk <br>
        </p>
        <br>
        <div class="founderSocials">
          <ul>
            <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
            <a href="https://www.branded.me/erino"><i style='font-size: 44px;'class="fa fa-superpowers" aria-hidden="true"></i></a>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="founderBox" id="firstFounder" >
    <div class="displayer">
      <div class="imgBox">
        <img style="width: 172px; height: 246px;" src="./img/mike.jpg" alt="">
      </div>
      <div class="founderInfo">
        <h1>Mike Hanks</h1>
        <br>
        <br>
        <p> Front to Back Angular / Node / SQL <br>
          I like Code. <br>
          Tech - JavaScript | HTML | SASS | Angular | Node | Express | SQL | Massive <br>
        </p>
        <br>
        <div class="founderSocials">
          <ul>
            <a href="https://www.linkedin.com/in/mikehanks"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
            <a href="https://github.com/Shaadr"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
            <a href="https://www.branded.me/michaelhanks"><i style='font-size: 44px;'class="fa fa-superpowers" aria-hidden="true"></i></a>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="founderBox" id="firstFounder" >
    <div class="displayer">
      <div class="imgBox">
        <img src="https://static1.squarespace.com/static/5296565fe4b0aa5ff545349d/54efb393e4b0ad929f997bff/54efb3c2e4b0da6eadba4f74/1425038395265/Portrait+Faces+and+Photography+150124-2.JPG" alt="">
      </div>
      <div class="founderInfo">
        <h1>founder name</h1>
        <br>
        <br>
        <p>ertyjkl;lkjhgf ghjkjhgfghj <br>
          jklkjklkjklkjkklklk lklklklklklk <br>
          jkjkokjkokkokokkok kjkkkokkokojkk <br>
        </p>
        <br>
        <div class="founderSocials">
          <ul>
            <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
            <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>
