<!-- PUT THE HEADERDIRECTIVE HERE -->
<headerdirective><headerdirective>
<!-- PUT THE HEADERDIRECTIVE HERE -->
<!-- EMPY DIV COVERING THE SPACE OF THE HEADER -->
<div class="box">
</div>
<!-- EMPY DIV COVERING THE SPACE OF THE HEADER -->
<div class="founderBox" id="firstFounder">
  <div class="founderInfo">
    <img src="https://static1.squarespace.com/static/5296565fe4b0aa5ff545349d/54efb393e4b0ad929f997bff/54efb3c2e4b0da6eadba4f74/1425038395265/Portrait+Faces+and+Photography+150124-2.JPG" alt="">
    <p>ertyjkl;lkjhgf ghjkjhgfghj <br>
    jklkjklkjklkjkklklk lklklklklklk <br>
     jkjkokjkokkokokkok kjkkkokkokojkk <br>
   </p>
  </div>
</div>
<div class="founderBox" >
  <div class="founderInfo">
    <img src="https://static1.squarespace.com/static/5296565fe4b0aa5ff545349d/54efb393e4b0ad929f997bff/54efb3c2e4b0da6eadba4f74/1425038395265/Portrait+Faces+and+Photography+150124-2.JPG" alt="">
    <p>ertyjkl;lkjhgf ghjkjhgfghj <br>
    jklkjklkjklkjkklklk lklklklklklk <br>
     jkjkokjkokkokokkok kjkkkokkokojkk <br>
   </p>
  </div>
</div>
<div class="founderBox" >
  <div class="founderInfo">
    <img src="https://static1.squarespace.com/static/5296565fe4b0aa5ff545349d/54efb393e4b0ad929f997bff/54efb3c2e4b0da6eadba4f74/1425038395265/Portrait+Faces+and+Photography+150124-2.JPG" alt="">
    <p>ertyjkl;lkjhgf ghjkjhgfghj <br>
    jklkjklkjklkjkklklk lklklklklklk <br>
     jkjkokjkokkokokkok kjkkkokkokojkk <br>
   </p>
  </div>
</div>
<div class="founderBox" >
  <div class="founderInfo">
    <img src="https://static1.squarespace.com/static/5296565fe4b0aa5ff545349d/54efb393e4b0ad929f997bff/54efb3c2e4b0da6eadba4f74/1425038395265/Portrait+Faces+and+Photography+150124-2.JPG" alt="">
    <p>ertyjkl;lkjhgf ghjkjhgfghj <br>
    jklkjklkjklkjkklklk lklklklklklk <br>
     jkjkokjkokkokokkok kjkkkokkokojkk <br>
   </p>
  </div>
</div>
