<div class="main">
  <div class="headerDirCon" id="headDirCon">
    <header-directive></header-directive>
  </div>
  <!-- <div class="mainCon"> -->
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE BELOW ~~~~~~~~~~~~~~~~~ -->
      <section class="renterView">
        <div class="topBoxesCon">
          <div class="actInfo topBoxes">
            <h1 class="boxTitles">Account Info</h1>
          </div>
          <div class="payment topBoxes">
            <h1 class="boxTitles">Make A Payment</h1>
          </div>
        </div>
        <div class="aptInfo">
          <h1 class="boxTitles">Apartment Info</h1>
        </div>
        <div class="serviceReq">
          <h1 class="boxTitles">Service Requests</h1>
        </div>
      </section>
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE ABOVE ~~~~~~~~~~~~~~~~~ -->
  <!-- </div> -->
  <div class="footerDirCon">
    <footer-directive></footer-directive>
  </div>
</div>
