<div class="main">
  <div class="headerDirCon" id="headDirCon">
    <header-directive></header-directive>
  </div>
  <!-- <div class="mainCon"> -->
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE BELOW ~~~~~~~~~~~~~~~~~ -->
      <section class="renterView">
        <!-- (((((((((((((((((((((((((hidden box to update information))))))))))))))))))))))))) -->
        <div  class="login" id="existingLogin">
          <div class="updateHolder">
            <section ng-hide="!spin" class="LoggingIn">
              <h1>Logging In...</h1>
              <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </section>
            <div class="loginTitle">
              <h1 style="color:#2AABE2;">Edit Account</h1>
            </div>
            <button ng-click="cancelBtnClick()" class="headerBtns"name="button">Cancel</button>
            <div class="iBoxHolder">
              <form ng-submit='updateUserAccountInfo(userAccInfo)'>
                <h1 class="formTxt">Update Email:</h1>
                <input class="lBoxes"ng-model='userAccInfo.email' type="input" name="email" placeholder="Enter New Email"><br>
                <h1 class="formTxt">Update Phone:</h1>
                <input class="lBoxes"ng-model='userAccInfo.phone' type="input" name="password" placeholder="Enter New Phone Number">
                <h1 class="formTxt">Add/Update Car Info?</h1> <input type="checkbox" ng-model="checked"><br/>
                <div ng-if='checked'>
                  <h1 class="formTxt">Update Car Make:</h1>
                  <input class="lBoxes"ng-model='userAccInfo.carmake' type="input" name="carmake" placeholder="Enter Car Make"><br>
                  <h1 class="formTxt">Update Car Model:</h1>
                  <input class="lBoxes"ng-model='userAccInfo.carmodel' type="input" name="carmodel" placeholder="Enter Car Model"><br>
                </div>
                <button class="headerBtns" name="button">Update Account</button>
              </form>
              <div>
                <h1 class="formTxt">Update Password:</h1>
                <input class="lBoxes" ng-model='userinfo.password' type="input" name="password" placeholder="Enter New Password">
              </div>
            </div>
            <button class="headerBtns" type="button" name="button" ng-click="updateUserPassword(userinfo.password)">Change Password</button>
          </div>
        </div>

        <!-- (((((((((((((((((((((((((account info))))))))))))))))))))))))) -->
        <div class="topBoxesCon">
          <div class="topBoxes">
            <h1 class="boxTitles">Account Information</h1><br>
            <section class="Data">
              <div class="accountInfo">
                <div class="mainInfo">
                  <h5 class="renterTxtH5">Email: <span class="renterTxtA">{{user.email}}</span></h5>
                  <h5 class="renterTxtH5">Phone: <span class="renterTxtA">{{user.phone}}</span></h5>
                </div>
                <section class="carHolder" ng-if='user.carmake'>
                  <h1 class="subTitle">Car Information</h1>
                  <div class="mainInfo">
                    <h5 class="renterTxtH5">Make: <span class="renterTxtA">{{user.carmake}}</span></h5>
                    <h5 class="renterTxtH5">Model: <span class="renterTxtA">{{user.carmodel}}</span></h5>
                  </div>
                </section>
                <div class="updateBtn" ng-click='addDataClick()'>Update Account</div>
              </div>
            </section>
          </div>
          <!-- (((((((((((((((((((((((((Make a payment))))))))))))))))))))))))) -->
          <div class="topBoxes">
            <h1 class="boxTitles">Make A Payment  <i class="fa fa-cc-stripe" aria-hidden="true"></i></h1><br>
            <section class="Data">
              <div class="payment">
                <form class="payInfo" action="/your-charge-code" method="POST" id="payment-form">
                  <span class="payment-errors"></span>

                  <div class="form-row">
                    <label>
                      <span class="payTxt">Card Number</span>
                      <input type="text" size="20" data-stripe="number">
                    </label>
                  </div>

                  <div class="form-row">
                    <label>
                      <span class="payTxt">Expiration (MM/YY)</span>
                      <input type="text" size="2" data-stripe="exp_month">
                    </label>
                    <span class="payTxt"> / </span>
                    <input type="text" size="2" data-stripe="exp_year">
                  </div>

                  <div class="form-row">
                    <label>
                      <span class="payTxt">CVC</span>
                      <input type="text" size="4" data-stripe="cvc">
                    </label>
                  </div>

                  <div class="form-row">
                    <label>
                      <span class="payTxt">Billing ZIP Code</span>
                      <input type="text" size="6" data-stripe="address_zip">
                    </label>
                  </div>

                </form>
                <div class="comingBtn">Coming Soon</div>
              </div>
            </section>
          </div>
        </div>

        <!-- (((((((((((((((((((these are the bottom boxes))))))))))))))))))) -->
        <div class="BottomBoxes">
          <h1 class="boxTitles">Apartment Information</h1><br>
          <section class="BottomData">
            <section class="ApartmentInfo">
              <div class="aptSections">
                <h1 class="subTitle">{{landlord.title}} {{landlord.apt_num}}</h1><br>
                <div class="innerDiv">
                  <h5>Address: <span class="renterTxtA"><br>{{landlord.address}} {{landlord.city}} {{landlord.state}} {{landlord.zipcode}}</span></h5><br>
                  <h5 ng-if='user.leasestart'>Lease:<span class="renterTxtA"> <br> {{user.leasestart}} - <br>{{user.leaseend}}</span></h5><br>
                  <h5 ng-if='landlord.parkingspace'>Parking Space:<span class="renterTxtA"> <br>{{landlord.parkingspace}}</span></h5><br>
                  <h5>Square Footage:<span class="renterTxtA"><br> {{landlord.squareft}}</span></h5><br>
                </div>
              </div>
              <div class="CenterBar"></div>
              <div class="aptSections">
                <h1 class="subTitle">Landlord</h1><br>
                <div  class="innerDiv">
                  <h5>Lanlord:<span class="renterTxtA"><br> {{landlord.firstname}} {{landlord.lastname}}</span></h5><br>
                  <h5>Contact Email:<span class="renterTxtA"><br> {{landlord.email}}</span></h5><br>
                  <h5>Contact Phone:<span class="renterTxtA"> <br>{{landlord.phone}}</span></h5><br>
                </div>
              </div>
              <div class="CenterBar"></div>
              <div class="aptSections" >
                <h1 class="subTitle">General</h1><br>
                <div class="innerDiv">
                  <h5>Wifi Name:<span class="renterTxtA"> <br>{{landlord.wifiname}}</span></h5><br>
                  <h5>Wifi Password:<span class="renterTxtA"> <br>{{landlord.wifipwd}}</span></h5><br>
                  <h5>Trash Day:<span class="renterTxtA"> <br>{{landlord.trashday}}</span></h5><br>
                </div>
              </div>
            </section>
          </section>
        </div>
        <!-- ((((((((((((((((((((((((((service request box)))))))))))))))))))))))))) -->
        <div class="BottomBoxes">
          <h1 class="boxTitles">Service Requests</h1>
          <section class="BottomData">
            <div class="serviceReqs">
              <!-- ((((((((((((((Information goes under here)))))))))))))) -->
              <h1>Currently Under Construction</h1>
            </div>
          </section>
        </div>
      </section>
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE ABOVE ~~~~~~~~~~~~~~~~~ -->
  <!-- </div> -->
  <div class="footerDirCon">
    <footer-directive></footer-directive>
  </div>
</div>
