<div class="main">
  <div class="headerDirCon" id="headDirCon">
    <header-directive></header-directive>
  </div>
  <!-- <div class="mainCon"> -->
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE BELOW ~~~~~~~~~~~~~~~~~ -->
      <section class="renterView">
        <div class="topBoxesCon">
          <div class="topBoxes">
            <h1 class="boxTitles">Account Info</h1>
            <section class="Data">
              <div class="accountInfo">
                <!-- (((((((((((((Information goes under here))))))))))))) -->
                <h1>Currently Under Construction</h1>
              </div>
            </section>
          </div>
          <div class="topBoxes">
            <h1 class="boxTitles">Make A Payment</h1>
            <section class="Data">
              <div class="payment">
                <!-- ((((((((((((((Information goes under here)))))))))))))) -->
                <h1>Currently Under Construction</h1>
              </div>
            </section>
          </div>
        </div>
        <div class="BottomBoxes">
          <h1 class="boxTitles">Apartment Info</h1>
          <section class="BottomData">
            <div class="ApartmentInfo">
              <!-- ((((((((((((((Information goes under here)))))))))))))) -->
              <h1>Currently Under Construction</h1>
            </div>
          </section>
        </div>
        <div class="BottomBoxes">
          <h1 class="boxTitles">Service Requests</h1>
          <section class="BottomData">
            <div class="serviceReqs">
              <!-- ((((((((((((((Information goes under here)))))))))))))) -->
              <h1>Currently Under Construction</h1>
            </div>
          </section>
        </div>
      </section>
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE ABOVE ~~~~~~~~~~~~~~~~~ -->
  <!-- </div> -->
  <div class="footerDirCon">
    <footer-directive></footer-directive>
  </div>
</div>
