.renterView
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  width: 100%
  // height: 1000px
  background: #D8D8D8
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  // ((((((((((((this is the start of the login section))))))))))))
  .login
    position: fixed
    top: 0
    width: 100%
    height: 100vh
    background: rgba(0, 0, 0, 0.8)
    z-index: 1
    display: flex
    justify-content: center
    align-items: center
    .updateHolder
      width: 300px
      padding: 10px
      // height: 280px
      opacity: 1
      background: white
      border-radius: 5px
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      margin-top: -25px
      .LoggingIn
        position: fixed
        width: 270px
        min-height: 280px
        background: white
        color: grey
        font-size: 25px
        border-radius: 5px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        z-index: 10
        h1
          margin-bottom: 10px
      .loginTitle
        font-size: 40px
        font-weight: bold
        color: #2AABE2
      .iBoxHolder
        margin-bottom: 10px
        display: flex
        flex-direction: column
        align-items: center
        .formHolder
          display: flex
          flex-direction: column
          align-items: center
          .dropDown
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            .editCheck
              font-size: 16px
      .editBoxes
        width: 225px
        height: 30px
        border: 2px solid #1B75BB
        border-radius: 5px
      .editBtns
        font-size: 20px
        color: white
        width: 175px
        height: 30px
        background: #2AABE2
        border: 1px solid #1B75BB
        border-radius: 5px
        margin-top: 5px
        display: flex
        justify-content: center
        align-items: center
        &:hover
        cursor: pointer
        background: #11a5e5
      #cancelBtn
        width: 80px

    // (((((((top boxes start css)))))))
  .topBoxesCon
    width: 90%
    max-width: 1257px
    // height: 300px
    margin: 20px 20px
    display: flex
    flex-direction: row
    justify-content: space-around
    .topBoxes
      padding-bottom: 10px
      width: 40%
      background: white
      border-radius: 10px
      border: 1px solid #1B75BB
      display: flex
      flex-direction: column
      align-items: center
      .Data
        // height: 255px
        width: 99%
        height: 100%
        // background: lightyellow
  // (((((((((((((((((((((((titles css)))))))))))))))))))))))
  .boxTitles
    text-align: center
    font-size: 30px
    font-weight: bold
    color: #2AABE2
    margin-top: 10px
    border-bottom: 2px solid #2AABE2
    width: 95%
  .subTitle
    width: 100%
    margin-top: 4px
    text-align: center
    font-size: 25px
    color: black
    font-weight: bold
    border-bottom: 2px solid black
  // (((((((bottom boxes start css)))))))
  .BottomBoxes
    width: 81%
    max-width: 1130px
    padding-bottom: 20px
    background: white
    border-radius: 10px
    border: 1px solid #1B75BB
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 20px
    .BottomData
      // height: 255px
      width: 99%
      // background: lightyellow
  // (((((((((this is where you edit the accountInfo)))))))))
  .accountInfo
    height: 100
    border-radius: 10px
    padding: 5px 10px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    .mainInfo
      width: 100%
      padding: 0px 20px
      display: flex
      flex-direction: row
      justify-content: space-between
      // background: blue
    .carHolder
      width: 100%
      // background: red
      display: flex
      flex-direction: column
      align-items: center
    .updateBtn
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
      width: 140px
      padding: 5px
      margin-top: 10px
      border-radius: 5px
      text-align: center
      background: #2AABE2
      border: 1px solid #1B75BB
      color: white
      &:hover
        background: #11a5e5
        cursor: pointer
  // (((((((((this is where you edit the payment)))))))))
  .payment
    padding: 5px 10px
    border-radius: 10px
    display: flex
    flex-direction: column
    align-items: center
    .payInfo
      width: 100%
      padding: 0px 10px
      display: flex
      flex-direction: column
      align-items: flex-start
      .form-row
        margin: 5px 0px 5px 20px
        .payTxt
          font-size: 20px
          margin-right: 5px 0px
    .comingBtn
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
      width: 120px
      padding: 5px
      margin-top: 10px
      border-radius: 5px
      text-align: center
      background: #2AABE2
      border: 1px solid #1B75BB
      color: white
      &:hover
        background: #11a5e5
        cursor: pointer
  // (((((((((this is where you edit the ApartmentInfo)))))))))
  .ApartmentInfo
    padding: 5px 10px
    border-radius: 10px
    display: flex
    flex-direction: row
    justify-content: space-around
    .aptSections
      width: 30%
      // background: green
      padding: 10px
      .innerDiv
    h5
      margin: 5px 0px
      font-size: 20px
      color: black
  .CenterBar
    width: 5px
    height: 20vh auto
    border-radius: 5px
    background: #2AABE2
    margin: 15px 0px

  // (((((((((this is where you edit the serviceReqs)))))))))
  .serviceReqs
    padding: 5px 10px
    border-radius: 10px
    display: flex
    flex-direction: column
    align-items: center
    .addReqBtn
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
      width: 95px
      padding: 5px
      margin-top: 5px
      border-radius: 5px
      text-align: center
      background: #2AABE2
      border: 1px solid #1B75BB
      color: white
      &:hover
        background: #11a5e5
        cursor: pointer
    .hideFORM
      // background: blue
      padding: 10px
      width: 95%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      .cNSRTitle
        width: 400px
      .formHolder
        padding: 10px
        // background: green
        display: flex
        flex-direction: row
        justify-content: center
        .LeftHolder
          margin-left: 73px
          margin-right: 40px
          // background: yellow
          .lBoxes
            font-size: 16px
            width: 225px
            height: 30px
            border: 2px solid #1B75BB
            border-radius: 5px
            padding-left: 10px
        .CenterBar
          margin: 12px 0px 0px 0px
        .rightHolder
          margin-left: 40px
          // background: red
          .txtArea
            width: 300px
            // height: 50px
            border: 2px solid #1B75BB
            border-radius: 5px
            resize: none
            font-size: 20px
            padding: 10px
    .serviceReqHolder
      .subTitle
        margin-top: 20px
      .noteHolder
        padding: 10px
        // background: green
        display: flex
        flex-direction: row
        justify-content: center
        .LeftHolder
          max-width: 400px
          margin-right: 40px
          p
            font-size: 15px
        .rightHolder
          max-width: 400px
          margin: 0px 40px
          p
            font-size: 15px
  // (((((((((this is where you edit the text for the page)))))))))
  .postBtn
    height: 32px
    font-size: 17px
  .renterTxtA
    margin: 5px 0px
    font-size: 20px
    color: grey
    text-transform: capitalize
  .renterTxtH5
    margin: 5px 0px
    font-size: 20px
    color: black
