<div class="main adminFaqMV">

  <div class="login" id="Create" ng-cloak>
    <div class="loginHolder">
      <section ng-hide="!spin" class="LoggingIn">
        <h1>Logging In...</h1>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </section>
      <div class="loginTitle">
        <h1>Create New FAQ</h1>
      </div>
      <form ng-submit='createFaq(faq)' class="loginInputs">
        <div class="iBoxHolder">
          <h1 class="formTxt">Enter Question:</h1>
          <textarea ng-model='faq.question' class="txtArea" name="Question" rows="3" cols="40" placeholder="Enter Question Here..." required></textarea>
          <!-- <input ng-model='user.email'class="lBoxes" type="text" placeholder="Enter Email"> -->
          <h1 class="formTxt">Enter Answer:</h1>
          <textarea ng-model='faq.answer' class="txtArea txtAreaBig" name="Answer" rows="8" cols="40" placeholder="Enter Answer Here..." required></textarea>
          <!-- <input ng-model='user.password' class="lBoxes" type="text" placeholder="Enter Password"> -->

        </div>
        <div class="BtnHolder">
          <button id="cancelBtn" type="reset" class="lBtns" ng-click="show= false">Cancel</button>
          <button type="submit" class="lBtns" >Create</button>
        </div>
      </form>
    </div>
  </div>

  <div class="headerDirCon">
    <header-directive></header-directive>
  </div>
  <div class="mainCon">
    <div class="sNavDirCon">
      <side-nav-directive></side-nav-directive>
    </div>
    <div class="pageContent">
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE BELOW ~~~~~~~~~~~~~~~~~ -->
      <section class="adminFAQView">
        <div class="addBtnHolder">
          <div id="addData" class="addBtn">Create New FAQ</div>
          <div ng-click="helpIcon()" class="helpBtn"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
        </div>
        <div class="dataHolder">
          <!-- the ng-repeat go inside of showFaqs -->
          <div class="showFaqs" ng-repeat='faq in faqs'>
            <div class="mainData">
              <h1 class="mdTxtH1">{{faq.question}}</h1>
              <p class="mdTxtP">{{faq.answer}}</p>
            </div>
            <div class="btnHolder">
              <div ng-click="saAlert()" id="delete" class="dataBtns">
                <h1 class="trashCan"><i class="fa fa-trash" aria-hidden="true"></i></h1>
              </div>
                <div ui-sref="update.faq({id: faq.id})" id="edit" class="dataBtns">
                  <h1 class="btnTxt">e<br>d<br>i<br>t<br><br>f<br>a<br>q</h1>
                </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE ABOVE ~~~~~~~~~~~~~~~~~ -->
    </div>
  </div>
</div>
