<div class="main adminFaqMV">

  <div class="login" id="Create" ng-cloak>
    <div class="loginHolder">
      <section ng-hide="!spin" class="LoggingIn">
        <h1>Logging In...</h1>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </section>
      <div class="loginTitle">
        <h1>Create New FAQ</h1>
      </div>
      <form ng-submit='' class="loginInputs">
        <div class="iBoxHolder">
          <h1 class="formTxt">Enter Question</h1>
          <textarea name="Answer" ng-model='faq.question' rows="3" cols="40"></textarea>
          <!-- <input ng-model='user.email'class="lBoxes" type="text" placeholder="Enter Email"> -->
          <h1 class="formTxt">Enter Answer</h1>
          <textarea name="Answer" ng-model='faq.answer' rows="8" cols="40"></textarea>
          <!-- <input ng-model='user.password' class="lBoxes" type="text" placeholder="Enter Password"> -->

        </div>
        <div class="BtnHolder">
          <button id="cancelBtn" type="reset" class="lBtns" ng-click="show= false">Cancel</button>
          <button type="submit" class="lBtns" ng-click='createFaq(faq)'>Create</button>
        </div>
      </form>
    </div>
  </div>

  <div class="headerDirCon">
    <header-directive></header-directive>
  </div>
  <div class="mainCon">
    <div class="sNavDirCon">
      <side-nav-directive></side-nav-directive>
    </div>
    <div class="pageContent">
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE BELOW ~~~~~~~~~~~~~~~~~ -->
      <section class="serviceRequestsView">
        <div class="addBtnHolder">
          <div id="addData" class="addBtn">Create New FAQ</div>
        </div>
        <div class="dataHolder">
          <!-- the ng-repeat go inside of showFaqs -->
          <div class="showFaqs" ng-repeat=''>
            <div class="mainData">
              <h1 class="mdTxtH1">{title}</h1>
              <p class="mdTxtP">{answer}</p>
            </div>
            <div class="btnHolder">
              <div id="delete" class="dataBtns">
                <h1 class="trashCan"><i class="fa fa-trash" aria-hidden="true"></i></h1></div>
                <a ui-sref="update.faq">
                  <div id="edit" class="dataBtns">
                    <h1 class="btnTxt">e<br>d<br>i<br>t<br><br>f<br>a<br>q</h1>
                  </div>
                </a>
            </div>
          </div>



        </div>
      </section>
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE ABOVE ~~~~~~~~~~~~~~~~~ -->
    </div>
  </div>
</div>
