.footerWrapper
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  width: 100%
  min-width: 800px
  height: 85px
  display: flex
  align-items: center
  justify-content: space-between
  background: #292c2f
  .icons
    color: white
    font-size: 40px
    &:hover
    cursor: pointer
  .gitHubLink
    margin-left: 6vw
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    // background: yellow
    h1
      color: white
      margin-left: 5px
      font-size: 16px
  .foundersLink
    display: flex
    justify-content: center
    align-items: center
    background: #2AABE2
    border: 1px solid #1B75BB
    color: white
    margin-left: -5px
    // border: 1px solid black
    border-radius: 5px
    padding: 10px 20px
    &:hover
      background: #11a5e5
      cursor: pointer
    #foundSpacing
      letter-spacing: 0
  .externalLinks
    // background: yellow
    margin-right: 5vw
a
  text-decoration: none
  div
    h1
      font-size: 25px
      letter-spacing: 2px
    ul
      flex-direction: row
      i
        margin: 0 15px
        font-size: 25px
