<section class="updateFaqHolder">
  <h1 class="pageTitle">Update Apartment</h1>
  <form class="formCon">
    <section class="inputContainer">
      <div class="content contentLeft">
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Title</h1>
          <h1 class="currentInfo">{Current Value}</h1>
        </div>
        <input class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">address</h1>
          <h1 class="currentInfo">{Current Value}</h1>
        </div>
        <input class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">apt number</h1>
          <h1 class="currentInfo">{Current Value}</h1>
        </div>
        <input class="inputBox" type="text">
        <!-- this is where we end putting inputs left side -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">squarest</h1>
          <h1 class="currentInfo">{Current Value}</h1>
        </div>
        <input class="inputBox" type="text">

        <div class="inputTitlesHolder">
          <h1 class="inputTitle">baths</h1>
          <h1 class="currentInfo">{Current Value}</h1>
        </div>
        <input class="inputBox" type="text">

        <div class="inputTitlesHolder">
          <h1 class="inputTitle">wifiname</h1>
          <h1 class="currentInfo">{Current Value}</h1>
        </div>
        <input class="inputBox" type="text">

        <div class="inputTitlesHolder">
          <h1 class="inputTitle">wifipassword</h1>
          <h1 class="currentInfo">{Current Value}</h1>
        </div>
        <input class="inputBox" type="text">

      </div>
      <div class="centerBar"></div>
      <div class="content contentRight">
        <div class="inputTitlesHolder">
                  <h1 class="inputTitle">state</h1>
                  <h1 class="currentInfo">{Current Value}</h1>
                </div>
                <input class="inputBox" type="text">
                <!-- new input -->
                <div class="inputTitlesHolder">
                  <h1 class="inputTitle">zipcode</h1>
                  <h1 class="currentInfo">{Current Value}</h1>
                </div>
                <input class="inputBox" type="text">
                <!-- new input -->
                <div class="inputTitlesHolder">
                  <h1 class="inputTitle">city</h1>
                  <h1 class="currentInfo">{Current Value}</h1>
                </div>
                  <select class='inputBox' name="city" >
                    <option value="volvo">city1</option>
                    <option value="saab">city2</option>
                  </select>
                <div class="inputTitlesHolder">
                  <h1 class="inputTitle">bedrooms</h1>
                  <h1 class="currentInfo">{Current Value}</h1>
                </div>
                <input class="inputBox" type="text">

                <div class="inputTitlesHolder">
                  <h1 class="inputTitle">trashday</h1>
                  <h1 class="currentInfo">{Current Value}</h1>
                </div>
                <input class="inputBox" type="date">
                <div class="inputTitlesHolder">
                  <h1 class="inputTitle">parking space</h1>
                  <h1 class="currentInfo">{Current Value}</h1>
                </div>
                <input class="inputBox" type="text">

                <div class="inputTitlesHolder">
                  <h1 class="inputTitle">housing gender</h1>
                  <h1 class="currentInfo">{Current Value}</h1>
                </div>

                <div id="optionBox">
                  <div id="checkoutBox">
                    <input class="checkbox" type="checkbox" ng-checked='femaleOnly' value=''>
                    <p class='checkboxName'>female only</p>
                  </div>
                  <div id="checkoutBox">
                    <input class="checkbox" type="checkbox" ng-checked='maleOnly' value=''>
                    <p class='checkboxName'>male only</p>
                  </div>
                </div>


      </div>
    </section>
    <section class="btnHolder">
      <button class="actionBtns" type="button" name="button">Cancel</button>
      <button class="actionBtns" type="submit" name="button">Update</button>
    </section>
  </form>
</section>
