<div class="main groupsMV">

  <div class="login" id="Create">
    <div class="loginHolder">
      <section ng-hide="!spin" class="LoggingIn">
        <h1>Logging In...</h1>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </section>
      <div class="loginTitle">
        <h1>Create New Group</h1>
      </div>
      <form ng-submit='login(###)' class="loginInputs">
        <div class="iBoxHolder">
          <h1 class="formTxt">Group Title</h1>
          <input ng-model='group.title'class="lBoxes" type="text" placeholder="Enter a group's title">
          <h1 class="formTxt">Start date</h1>
          <input ng-model='group.startdate' class="lBoxes" type="text" placeholder="Enter start date">

          <h1 class="formTxt">End date</h1>
          <input ng-model='group.enddate'class="lBoxes" type="text" placeholder="Enter end date">
          <h1 class="formTxt">Check-In Date</h1>
          <input ng-model='group.checkindate'class="lBoxes" type="text" placeholder="Enter check-in date">
          <h1 class="formTxt">Check-Out Date</h1>
          <input ng-model='group.checkoutdate'class="lBoxes" type="text" placeholder="Enter check-out date">
          <h1 class="formTxt">Which City?</h1>
          <input ng-model='group.citiesid'class="lBoxes" type="text" placeholder="Enter city">

        </div>
        <div class="BtnHolder">
          <button id="cancelBtn" class="lBtns" ng-click="show= false">Cancel</button>
          <button type="submit" class="lBtns" ng-click="submitGroup(group)">Create</button>
        </div>
      </form>
    </div>
  </div>

  <div class="headerDirCon">
    <header-directive></header-directive>
  </div>
  <div class="mainCon">
    <div class="sNavDirCon">
      <side-nav-directive></side-nav-directive>
    </div>
    <div class="pageContent">
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE BELOW ~~~~~~~~~~~~~~~~~ -->
      <section class="groupListView">
        <div class="addBtnHolder">
          <div id="addData" class="addBtn">Add New Group</div>
        </div>
        <div class="dataHolder">
          <!-- Location > Groups > Users -->
          <div ng-repeat='location in locations | unique: "location.city"'>
            <div class="cityTitle">
              <h1>{{location.city}}</h1>
            </div>
            <hr>
            <div ng-repeat="group in groups | filter: {citiesid:location.id}" class="showData">
              <div class="mainData">
                <h1>{{group.title}}</h1>
                <div>
                  <h5>Start Date: {{group.startdate}}</h5>
                  <h5>End Date: {{group.enddate}}</h5>
                  <h5>Check-In: {{group.checkindate}}</h5>
                  <h5>Check-Out: {{group.checkoutdate}}</h5>
                  <h5>Members</h5>
                  <ul>
                    <li ng-repeat='member in users | filter: {groupid: group.id}'>
                      <h5>Name: {{member.firstname}}{{member.lastname}}</h5>
                      <hr>
                    </li>
                  </ul>
                </div>
              </div>
            <div class="btnHolder">
              <div id="delete" class="dataBtns">
                <h1 class="trashCan"><i class="fa fa-trash" aria-hidden="true"></i></h1></div>
              <div id="edit" class="dataBtns">
                <h1 class="btnTxt">e<br>d<br>i<br>t<br><br>g<br>r<br>o<br>u<br>p</h1></div>
            </div>
          </div>
        </div>



        </div>
      </section>
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE ABOVE ~~~~~~~~~~~~~~~~~ -->
    </div>
  </div>
</div>
