<div class="main groupsMV">

  <div class="login" id="Create" ng-cloak>
    <div class="loginHolder">
      <section ng-hide="!spin" class="LoggingIn">
        <h1>Logging In...</h1>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </section>
      <div class="loginTitle">
        <h1>Create New Group</h1>
      </div>
      <form ng-submit='' class="loginInputs">
        <div class="iBoxHolder">
          <h1 class="formTxt">Group Title</h1>
          <input ng-model='group.title'class="lBoxes" type="text" placeholder="Enter a group's title" required>
          <h1 class="formTxt">Start date</h1>
          <input ng-model='group.startdate' class="lBoxes" type="text" placeholder="YYYY-MM-DD">

          <h1 class="formTxt">End date</h1>
          <input ng-model='group.enddate'class="lBoxes" type="text" placeholder="YYYY-MM-DD">
          <h1 class="formTxt">Check-In Date</h1>
          <input ng-model='group.checkindate'class="lBoxes" type="text" placeholder="YYYY-MM-DD">
          <h1 class="formTxt">Check-Out Date</h1>
          <input ng-model='group.checkoutdate'class="lBoxes" type="text" placeholder="YYYY-MM-DD">
          <h1 class="formTxt">Choose City</h1>
          <select class="lBoxes" ng-model='group.citiesid' ng-options="location.id as location.city for location in locations" required>
            <option value="">Choose City</option>
          </select>
        </div>
        <div class="BtnHolder">
          <button id="cancelBtn" type="reset" class="lBtns" ng-click="show= false">Cancel</button>
          <button type="submit" class="lBtns" ng-click="submitGroup(group)">Create</button>
        </div>
      </form>
    </div>
  </div>

  <div class="headerDirCon">
    <header-directive></header-directive>
  </div>
  <div class="mainCon">
    <div class="sNavDirCon">
      <side-nav-directive></side-nav-directive>
    </div>
    <div class="pageContent">
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE BELOW ~~~~~~~~~~~~~~~~~ -->
      <section class="groupListView">
        <div class="addBtnHolder">
          <div id="addData" class="addBtn">Add New Group</div>
          <div class="helpBtn"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
        </div>

        <div class="dataHolder">
          <!-- ((((((((((((((((the ng-repeat goes in showGroupData)))))))))))))))) -->
          <div class="grpupLocationNGR" ng-repeat='location in locations | unique: "location.city"'>
            <div class="groupTitle">
              <h1>{{location.city}}</h1>
            </div>
          <section ng-repeat="group in groups | filter: {citiesid: location.id}" class="showGroupData">
            <h1 class="groupTitle">{{group.title}}</h1>
            <div class="groupDataHolder">
              <div class="groupBtnHolder">
                <div id="delete" class="dataGroupBtns">
                  <h1 class="trashCan"><i class="fa fa-trash" aria-hidden="true"></i></h1>
                </div>
                <div ui-sref="update.group({id: group.id})" id="edit" class="dataGroupBtns">
                  <h1 class="btnTxt">edit group</h1>
                </div>
              </div>
              <div class="mainGroupData">
                <section class="subTitleHolder">
                  <div class="groupInfo">
                    <h1 class="baseTxt titleTxt">First</h1>
                  </div>
                  <div class="groupInfo">
                    <h1 class="baseTxt titleTxt">Last</h1>
                  </div>
                  <div class="groupInfo aptName">
                    <h1 class="baseTxt titleTxt">Apt Name</h1>
                  </div>
                  <div class="groupInfo aptSize">
                    <h1 class="baseTxt titleTxt">Apt #</h1>
                  </div>
                </section>
                <!-- ((((((((((((the ng-repeat goes in groupMemberNGR)))))))))))) -->
                <section class="groupMemberNGR" ng-repeat="member in users | filter: {groupid: group.id}">
                  <div class="groupInfo">
                    <h1 class="baseTxt memberTxt">{{member.firstname}}</h1>
                  </div>
                  <div class="groupInfo">
                    <h1 class="baseTxt memberTxt">{{member.lastname}}</h1>
                  </div>
                  <div class="groupInfo aptName">
                    <h1 class="baseTxt memberTxt">{{member.title}} </h1>
                  </div>
                  <div class="groupInfo aptSize">
                    <h1 class="baseTxt memberTxt">{{member.apt_num}}</h1>
                  </div>
                </section>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE ABOVE ~~~~~~~~~~~~~~~~~ -->
    </div>
  </div>
</div>
