<div  id="main">
  <div class="headerDirCon">
    <header-directive></header-directive>
  </div>
  <div class="mainCon" id="main">
    <div class="pageContent">
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE BELOW ~~~~~~~~~~~~~~~~~ -->
      <div class="headerspacer">

      </div>
      <section class="faqView">
        <div class="faqsBox">
          <div class="question">
            <h1 class="">This is a question to make space?</h1>
          </div>
          <div class="answer">
            <h2 class="boxdivider">this is an answer to question abode</h2>
          </div>

          <div class="question">
            <h1 class="">This is a question to make space?</h1>
          </div>
          <div class="answer">
            <h2 class="boxdivider">this is an answer to question abode</h2>
          </div>

          <div class="question">
            <h1 class="">This is a question to make space?</h1>
          </div>
          <div class="answer">
            <h2 class="boxdivider">this is an answer to question abode</h2>
          </div>
        </div>
      </section>
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE ABOVE ~~~~~~~~~~~~~~~~~ -->
    </div>
  </div>
</div>
