#topDivider {
  border-top: solid black; }

.box {
  background-color: blue;
  height: 200px;
  width: 100%; }

.founderBox {
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: space-between; }

.displayer {
  border: solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  height: 250px;
  width: 70%; }
  .displayer .imgBox {
    height: 100%; }
    .displayer .imgBox img {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }
  .displayer .founderInfo {
    text-align: center;
    height: 100%;
    display: flex;
    flex-flow: column;
    width: 100%; }
    .displayer .founderInfo h1 {
      color: black;
      margin-top: 50px;
      font-size: 30px;
      font-family: cursive; }
  .displayer img {
    height: 100%; }

h1 {
  color: red; }

.createApartment {
  background: green; }

.adminMain {
  background: blue; }

.createEditRenters {
  background: yellow; }

.createEditRenters {
  background: purple; }

.apartments {
  background: orange; }

.toDoList {
  background: yellow; }

.serviceRequests {
  background: black; }

.unassignedRenters {
  background: grey; }
