
.headerWrapper {
  position: fixed;
  width: 100vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .headerWrapper .jumbotron {
    background-color: green;
    width: 100%;
    height: 100%; }
  .headerWrapper .headerMain {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: black; }
    .headerWrapper .headerMain .headerHamContainer {
      color: white; }
      .headerWrapper .headerMain .headerHamContainer i:hover {
        cursor: pointer;
        font-size: 15px; }
    .headerWrapper .headerMain .headerWelcome {
      line-height: 25px;
      letter-spacing: 2px;
      color: white; }
    .headerWrapper .headerMain .headerLogout button {
      line-height: 25px;
      letter-spacing: 2px; }

.footerWrapper {
  position: fixed;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0; }
  .footerWrapper div h1 {
    font-size: 25px;
    letter-spacing: 2px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer; }
  .footerWrapper div ul {
    flex-direction: row; }
    .footerWrapper div ul i {
      margin: 15px;
      font-size: 25px; }
      .footerWrapper div ul i:hover {
        cursor: pointer; }

.sideNavWrapper {
  position: fixed;
  border: 1px solid black;
  width: 20%;
  left: 10px;
  margin-top: 25vh; }
  .sideNavWrapper nav {
    width: 100%;
    height: 80vh; }
    .sideNavWrapper nav ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      margin-left: 15px;
      line-height: 25px;
      letter-spacing: 2px;
      padding: 10px 0; }
      .sideNavWrapper nav ul li {
        margin: 5px; }
        .sideNavWrapper nav ul li:hover {
          font-weight: bold;
          cursor: pointer; }

.apartments {
  background: orange; }

.adminMain {
  background: blue; }

.createApartment {
  background: green; }

.createEditRenters {
  background: yellow; }

.createEditRenters {
  background: purple; }

.serviceRequests {
  background: black; }

.toDoList {
  background: yellow; }

.unassignedRenters {
  background: grey; }
