<div class="main serviceMV">

  <div class="login" id="Create">
    <div class="loginHolder">
      <section ng-hide="!spin" class="LoggingIn">
        <h1>Logging In...</h1>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </section>
      <div class="loginTitle">
        <h1>Create Service Request</h1>
      </div>
      <form ng-submit='login(###)' class="loginInputs">
        <div class="iBoxHolder">
          <h1 class="formTxt">Email</h1>
          <input ng-model='user.email'class="lBoxes" type="text" placeholder="Enter Email">
          <h1 class="formTxt">Password</h1>
          <input ng-model='user.password' class="lBoxes" type="text" placeholder="Enter Password">

          <h1 class="formTxt">Email</h1>
          <input ng-model='user.email'class="lBoxes" type="text" placeholder="Enter Email">
          <h1 class="formTxt">Email</h1>
          <input ng-model='user.email'class="lBoxes" type="text" placeholder="Enter Email">
          <h1 class="formTxt">Email</h1>
          <input ng-model='user.email'class="lBoxes" type="text" placeholder="Enter Email">
          <h1 class="formTxt">Email</h1>
          <input ng-model='user.email'class="lBoxes" type="text" placeholder="Enter Email">
          <h1 class="formTxt">Email</h1>
          <input ng-model='user.email'class="lBoxes" type="text" placeholder="Enter Email">

        </div>
        <div class="BtnHolder">
          <button id="cancelBtn" class="lBtns" ng-click="show= false">Cancel</button>
          <button type="submit" class="lBtns">Create</button>
        </div>
      </form>
    </div>
  </div>

  <div class="headerDirCon">
    <header-directive></header-directive>
  </div>
  <div class="mainCon">
    <div class="sNavDirCon">
      <side-nav-directive></side-nav-directive>
    </div>
    <div class="pageContent">
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE BELOW ~~~~~~~~~~~~~~~~~ -->
      <section class="serviceRequestsView">
        <div class="addBtnHolder">
          <div id="addData" class="addBtn">Create Service Request</div>
        </div>
        <div class="dataHolder">
          <div class="showData">
            <div class="mainData"></div>
            <div class="btnHolder">
              <div id="delete" class="dataBtns">
                <h1 class="trashCan"><i class="fa fa-trash" aria-hidden="true"></i></h1></div>
              <div id="edit" class="dataBtns">
                <h1 class="btnTxt">e<br>d<br>i<br>t<br><br>r<br>e<br>q<br>u<br>e<br>s<br>t</h1></div>
            </div>
          </div>



        </div>
      </section>
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE ABOVE ~~~~~~~~~~~~~~~~~ -->
    </div>
  </div>
</div>
