<div class="main serviceMV">

  <div class="login" id="Create" ng-cloak>
    <div class="loginHolder">
      <section ng-hide="!spin" class="LoggingIn">
        <h1>Logging In...</h1>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </section>
      <div class="loginTitle">
        <h1>Create Service Request</h1>
      </div>
      <form ng-submit='submitServReq(newSr); submitSRNote(newSRNote)' class="loginInputs">
        <div class="iBoxHolder">
          <h1 class="formTxt">Request</h1>
          <input ng-model='newSr.request'class="lBoxes" type="text" placeholder="Your request"></input>

          <h1 class="formTxt">Type</h1>
          <select ng-model='newSr.type' ng-options='sr.type as sr.type for sr in servreqs | unique: "type"'>
            <option value="">Choose Type</option>
          </select>
          <br>

          <h1 class="formTxt">Permissions</h1>
          <select ng-model='newSr.permissions' ng-options='sr.permissions as sr.permissions for sr in servreqs | unique: "permissions"'>
            <option value="">Choose Permission</option>
          </select>
          <br>

          <h1 class="formTxt">User</h1>
          <select ng-model='selectedUser' ng-options='(user.firstname + " " + user.lastname) for user in users'>
            <option value="">Choose Requester</option>
          </select>
          <br>

          <h1 class="formTxt">Note</h1>
          <textarea rows="8" cols="40" ng-model='selectedNote' type="text" placeholder="Add a note"></textarea>

        </div>
        <div class="BtnHolder">
          <button id="cancelBtn" class="lBtns" ng-click="show= false; cancelBtnClick()">Cancel</button>
          <button type="submit" class="lBtns">Create</button>
        </div>
      </form>
    </div>
  </div>

  <div class="headerDirCon">
    <header-directive></header-directive>
  </div>
  <div class="mainCon">
    <div class="sNavDirCon">
      <side-nav-directive></side-nav-directive>
    </div>
    <div class="pageContent">
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE BELOW ~~~~~~~~~~~~~~~~~ -->
      <section class="serviceRequestsView">
        <div class="addBtnHolder">
          <div id="addData" class="addBtn" ng-click="addDataClick()">Create Service Request</div>
        </div>
        <div class="dataHolder">
          <div ng-repeat="sr in servreqs" class="showData">
            <div class="mainData">
              <h1>{{sr.request}}</h1>
              <div>
                <h5>Submitted: {{sr.submitted}}</h5>
                <h5>Type: {{sr.type}}</h5>
                <h5>Permissions: {{sr.permissions}}</h5>
                <h5>Status: {{sr.status}}</h5>
                <h5>Notes</h5>
                <ul>
                  <li ng-repeat="srnote in notes | filter: {servreqid: sr.id}"><h5>{{srnote.note}}</h5>
                    <br>
                  </li>
                </ul>
              </div>
            </div>
            <div class="btnHolder">
              <div id="delete" class="dataBtns">
                <h1 class="trashCan"><i class="fa fa-trash" aria-hidden="true"></i></h1></div>
                <a ui-sref="update.serreq">
                  <div id="edit" class="dataBtns">
                    <h1 class="btnTxt">e<br>d<br>i<br>t<br><br>r<br>e<br>q<br>u<br>e<br>s<br>t</h1></div>
                </a>
            </div>
          </div>



        </div>
      </section>
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE ABOVE ~~~~~~~~~~~~~~~~~ -->
    </div>
  </div>
</div>
