
//((((((((((((((((((((((((((dont change))))))))))))))))))))))))))
[ng\:cloak], [ng-cloak], .ng-cloak
  display: none !important
.main
  width: 100%
  height: 100%
  min-width: 950px
  display: flex
  flex-direction: column
  .headerDirCon
    height: 200px
    width: 100%
  .mainCon
    background: blue
    width: 100%
    // min-height: 80vh
    min-height: calc(100vh - 200px)
    display: flex
    flex-direction: row
    justify-content: space-between
    .sNavDirCon
      background: #828282
      // width: 15%
      // min-width: 256px
      width: 256px
      // height: 80vh
    .pageContent
      width: calc(100% - 256px)
      // width: 85%
      // height: 80vh
      background: yellow

  //((((((((((((((((((((((((((main styling for ng-repeat boxes))))))))))))))))))))))))))
  .dataHolder
    margin-top: 60px
    width: 95%
    display: flex
    justify-content: space-around
    align-items: center
    flex-direction: row
    flex-wrap: wrap
    // background: blue
    //where we are using the ng-repeat ~~~~~~~~~~~~~~~~~~~~~~~~~
    .showData
      margin-top: 5px
      margin-bottom: 20px
      height: 250px
      width: 475px
      // background: yellow
      display: flex
      flex-direction: row
      .mainData
        height: 250px
        width: 455px
        border: 1px solid #1B75BB
        border-right: none
        border-top-left-radius: 10px
        border-bottom-left-radius: 10px
        background: white
      .btnHolder
        height: 250px
        width: 30px
        // background: green
        display: flex
        flex-direction: column
        align-items: center
        // margin-left: 1px
        .dataBtns
          width: 30px
          display: flex
          justify-content: center
          align-items: center
        #delete
          border: 1px solid black
          height: 30px
          color: red
          background: #2A2A2A
          border-top-right-radius: 10px
          &:hover
            cursor: pointer
            background: red
            color: #2A2A2A
          .trashCan
            font-size: 20px
        #edit
          border: 1px solid #1B75BB
          height: calc(100% - 30px)
          border-bottom-right-radius: 10px
          background: #2AABE2
          &:hover
            // background: #1ebafd
            background: #11a5e5
            cursor: pointer
          .btnTxt
            color: white
            text-align: center
            font-size: 16px
            font-weight: bold
            line-height: 1
            text-transform: uppercase


      //((((((((((((((((((((((((((dont change))))))))))))))))))))))))))
