<section class="updateSerReqHolder">
  <h1 class="pageTitle">Update Service Requests</h1>
  <form class="formCon">
    <section class="inputContainer">
      <div class="content contentLeft">
        <!-- this is where we start putting inputs left side -->
          <h1 class="inputTitle">Request:</h1>
          <p class="currentInfo">{Current Value}</p>
        <!-- new input -->
          <h1 class="inputTitle">Permission:</h1>
          <p class="currentInfo">{Current Value}</p>

        <!-- this is where we end putting inputs left side -->
      </div>
      <div class="centerBar"></div>
      <div class="content contentRight">
        <!-- this is where we start putting inputs right side -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Type</h1>
          <h1 class="currentInfo">{Current Value}</h1>
        </div>
        <select class="inputBox" name="">
          <option value="">Damage/Repair</option>
          <option value="">Hosekeeping</option>
          <option value="">Electrical</option>
          <option value="">Utilities</option>
          <option value="">Appliances</option>
          <option value="">Other</option>
        </select>
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Status</h1>
          <h1 class="currentInfo">{Current Value}</h1>
        </div>
        <select class="inputBox" name="">
          <option value="">Recieved</option>
          <option value="">In Progress</option>
          <option value="">Completed</option>
        </select>

      </div>
    </section>
    <section class="btnHolder">
      <button class="actionBtns" type="button" name="button">Cancel</button>
      <button class="actionBtns" type="submit" name="button">Update</button>
    </section>
  </form>
</section>
