$letterspacing: 2px
$lineheight: 25px

.headerWrapper
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  position: fixed
  width: 100%
  min-width: 960px
  height: 200px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  z-index: 1
  //jumpo tron ~~~~~~~~~~~~~~~~~~~~~~~~~
  .jumbotron
    background-image: url('https://s3.amazonaws.com/devmountain/www/img/housing.jpg')
    background-position: center
    width: 100%
    height: 100%
    display: flex
    // flex-direction: row
    justify-content: center
    align-items: center
    //logo holder 1 ~~~~~~~~~~~~~~~~~~~~~~~~~
    .logoHolder1
      width: 100%
      display: flex
      flex-direction: row
      margin-left: 3%
      cursor: pointer
      // background: yellow
      .logoTxtCon
        height: 42px
        // background: green
        margin-top: 40px
        .logoTxt
          font-size: 40px
          font-weight: bold
          color: white
          margin-left: 5px
          margin-top: 2px
          display: flex
          flex-direction: row
        .logoTxtB
          color: #2AABE2
          margin-left: -4px
    //button holder 2 ~~~~~~~~~~~~~~~~~~~~~~~~~
    .logoHolder2
      width: 100%
      display: flex
      flex-direction: row
      justify-content: center
      // background: green
      margin-right: 44px
      cursor: pointer
      .logoTxtCon2
        margin-top: 32px
        height: 46px
        .logoTxt2
          font-weight: bold
          color: white
          display: flex
          flex-direction: row
          margin-top: -8px
          font-size: 55px
          margin: 0px 7px 0px 7px
        .logoTxtB
          color: #2AABE2
    .logo
      height: 90px
      width: 138px
      // margin-left: 3%
      // background: red
  //header main ~~~~~~~~~~~~~~~~~~~~~~~~~
  .headerMain
    border: 1px solid #292c2f
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    width: 100%
    height: 42px
    padding: 0 10px
    background: #292c2f
    .headerWelcome
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
      line-height: $lineheight
      letter-spacing: $letterspacing
      color: white
    .headerLogout
    .headerBtns
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
      width: 70px
      padding: 5px
      border-radius: 5px
      text-align: center
      background: #2AABE2
      border: 1px solid #1B75BB
      color: white
      &:hover
        background: #11a5e5
        cursor: pointer
