<div  id="main">
  <div class="headerDirCon">
    <header-directive></header-directive>
  </div>
  <div class="mainCon" id="main">
    <div class="pageContent">
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE BELOW ~~~~~~~~~~~~~~~~~ -->
      <div class="headerspacer">

      </div>
      <div class="backToRenter">
        <button ui-sref = "renter"type="button" name="button">back to renters</button>
      </div>
      <section ng-repeat="faq in faqs" class="faqView">
        <div class="faqsBox">
          <div class="question">
            <h1 class="">{{faq.question}}</h1>
          </div>
          <div class="answer">
            <h2 class="boxdivider">{{faq.answer}}</h2>
          </div>
        </div>
      </section>
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE ABOVE ~~~~~~~~~~~~~~~~~ -->
    </div>
  </div>
  <div class="footerDirCon">
    <footer-directive></footer-directive>
  </div>
</div>
