<div class="main rentersMV">

  <div class="login" id="Create" ng-cloak>
    <div class="loginHolder">
      <section ng-hide="!spin" class="LoggingIn">
        <h1>Logging In...</h1>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </section>
      <div class="loginTitle">
        <h1>Create New Renter</h1>
      </div>
      <form ng-submit='createRenter(renter)' class="loginInputs">
        <div class="iBoxHolder">
          <h1 class="formTxt">Email</h1>
          <input ng-model='renter.email'class="lBoxes" type="text" placeholder="Enter Renter's Email" required>
          <h1 class="formTxt">Temporary Password</h1>
          <input ng-model='renter.password' class="lBoxes" type="text" placeholder="Enter Temporary Password" required>

          <h1 class="formTxt">First Name</h1>
          <input ng-model='renter.firstname'class="lBoxes" type="text" placeholder="Enter Renter's First Name" required>
          <h1 class="formTxt">Last Name</h1>
          <input ng-model='renter.lastname'class="lBoxes" type="text" placeholder="Enter Renter's Last Name" require>
          <h1 class="formTxt">Birth Day</h1>
          <input ng-model='renter.dob'class="lBoxes" type="date">
          <h1 class="formTxt">Gender</h1>
            <select  ng-model='renter.gender'>
              <option value=null>-- Select Gender --</option>
              <option value="">Male</option>
              <option value="">Female</option>
              <option value="">Other</option>
            </select>
            <!-- <h1 class="formTxt">Gender</h1>
            <input ng-model='renter.gender'class="lBoxes" type="text" placeholder="Enter Renter's Gender"> -->
          <h1 class="formTxt">Phone</h1>
          <input ng-model='renter.phone'class="lBoxes" type="text" placeholder="Enter Renter's Phone Number">
          <h1 class="formTxt">HomeTown</h1>
          <input ng-model='renter.hometown' class="lBoxes" type="text" placeholder="Enter Renter's Hometown">
          <h1 class="formTxt">Private Room?</h1>
            <input ng-model='renter.private_room' type="checkbox">

          <!-- <h1 class="formTxt">Assign Renter Room?</h1><input type="checkbox" ng-model="checked"><br/>
          <div>
            <div ng-show="checked">
              <h1 class="formTxt">Apartment Name</h1>
              <select ng-model='renter.aptid' ng-options='room.title for room in rooms | unique: "title"' required>
                <option value=""> Choose Apartment </option>
              </select>
              <select ng-model='renter.roomid' ng-options='room.apt_num for room in rooms |filter: {id :renter.aptid.id} | unique: "apt_num"' required>
                <option value=""> Choose Room </option>
              </select>

            </div>
          </div> -->
            <h1 class="formTxt">Enter Renter's Car Information?</h1><input type="checkbox" ng-model="checked"><br/>
            <div>
              <div ng-show="checked">
                <h1 class="formTxt">Car Make</h1>
                <input ng-model='renter.carmake'class="lBoxes" type="text" placeholder="Enter Car's Make">
                <h1 class="formTxt">Car Model</h1>
                <input ng-model='renter.carmodel'class="lBoxes" type="text" placeholder="Enter Car's Model">
                <h1 class="formTxt">Car Year</h1>
                <input ng-model='renter.caryear'class="lBoxes" type="text" id='datepicker' placeholder="Enter Car's Year">
                <!-- <h1 class="formTxt">Car Liscence Plate</h1>
                <input ng-model='renter.carliscenceplate'class="lBoxes" type="text" placeholder="Enter Renter's Car Number"> -->
              </div>
            </div>
          </section>
          <h1 class="formTxt">Lease Start</h1>
          <input ng-model='renter.leasestart'class="lBoxes" type="date" placeholder="Enter Renter's Lease Start Date">
          <h1 class="formTxt">Lease End</h1>
          <input ng-model='renter.leaseend'class="lBoxes" type="date" placeholder="Enter Renter's Lease End Date">
          <h1 class="formTxt">Rent Amount</h1>
          <input ng-model='renter.rentamt'class="lBoxes" type="text" placeholder="Enter Monthly Rent Ammount">
          <h1 class="formTxt">Check In Time</h1>
          <input ng-model='renter.checkintime'class="lBoxes" type="datetime-local" placeholder="Enter Renter's Check-In Time">
          <h1 class="formTxt">Check Out Time</h1>
          <input ng-model='renter.checkouttime'class="lBoxes" type="datetime-local" placeholder="Enter Renter's Check-Out Time">
          <!-- <h1 class="formTxt">Lease End</h1>
          <input ng-model='renter.leaseend'class="lBoxes" type="date" placeholder="Enter Renter's Lease End Date"> -->

        </div>
        <div class="BtnHolder">
          <button id="cancelBtn" class="lBtns" ng-click="show= false">Cancel</button>
          <button type="submit" class="lBtns">Create</button>
        </div>
      </form>
    </div>
  </div>

  <div class="headerDirCon">
    <header-directive></header-directive>
  </div>
  <div class="mainCon">
    <div class="sNavDirCon">
      <side-nav-directive></side-nav-directive>
    </div>
    <div class="pageContent">
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE BELOW ~~~~~~~~~~~~~~~~~ -->
      <section class="createEditRentersView">
        <div class="addBtnHolder">
          <div id="addData" class="addBtn">Create New Renter</div>
        </div>
        <div class="dataHolder">

          <!-- the ng-repeat for groups will go in the spot below -->
          <div class="grpupNGR" ng-repeat='group in groups | unique: "group.title"'>
            <div class="groupTitle">
              <h1>{{group.title}}</h1>
            </div>
            <div ng-repeat="renter in users | filter: {groupid: group.id}" class="showData">
              <div ng-repeat='apt in apartments' ng-if="apt.id === renter.aptid" class="showData">
              <div class="mainData">
                Name: {{renter.firstname}} {{renter.lastname}}<br>
                Hometown: {{renter.hometown}}<br>
                DOB: {{renter.dob | date: 'shortDate'}}<br>
                Gender: {{renter.gender}}<br>
                Phone: {{renter.phone}}<br>
                Email: {{renter.email}}<br>
                Lease Start: {{renter.leasestart}}, End: {{renter.leaseend}}<br>
                Apt: {{apt.title}} {{apt.apt_num}}<br>
                Private Room? {{renter.private_room?"YES":"NO"}}<br>
                Rent Amount: {{renter.rentamt | currency}}<br>
                Paid? {{renter.monthpaid?"YES":"NO"}}<br>
              </div>
              <div class="btnHolder">
                <div id="delete" class="dataBtns">
                  <h1 class="trashCan"><i class="fa fa-trash" aria-hidden="true"></i></h1></div>
                  <a ui-sref="update.user">
                    <div id="edit" class="dataBtns">
                      <h1 class="btnTxt">e<br>d<br>i<br>t<br><br>u<br>s<br>e<br>r</h1></div>
                  </a>
              </div>
            </div>
          </div>
          </div>
        </div>
      </section>
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE ABOVE ~~~~~~~~~~~~~~~~~ -->
    </div>
  </div>
</div>
