
<div class="home">
  <div class="login" id="existingLogin">
    <div class="loginHolder">
      <section ng-hide="!spin" class="LoggingIn">
        <h1>Logging In...</h1>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </section>
      <div class="loginTitle">
        <h1>Login</h1>
      </div>
      <form ng-submit='login(user)' class="loginInputs">
        <div class="iBoxHolder">
          <h1 class="formTxt">Email:</h1>
          <input ng-model='user.email'class="lBoxes" type="text" placeholder="Enter Email">
          <h1 class="formTxt">Password:</h1>
          <input ng-model='user.password' class="lBoxes" type="password" placeholder="Enter Password">
        </div>
        <div class="BtnHolder">
          <button class="lBtns"><a href="/auth/devmtn">DevLogin</a></button>
          <button id="cancelL" type=reset class="lBtns smallLBtn" ng-click="show= false">Cancel</button>
          <button type="submit" class="lBtns smallLBtn">Login</button>
        </div>
      </form>
    </div>
  </div>
  <div id="hideAdmin" class="login">
    <div class="loginHolder" id="createAdmin">
      <section ng-hide="!spin" class="LoggingIn">
        <h1>Creating User...</h1>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </section>
      <div class="loginTitle">
        <h1>Login</h1>
      </div>
      <form ng-submit='register(user, organization)' class="loginInputs">
        <div  class="iBoxHolder">
          <h1 class="formTxt">Email:</h1>
          <input ng-model="user.email" class="lBoxes" type="text" placeholder="Enter Email">
          <h1 class="formTxt">Create Password:</h1>
          <input ng-model="user.password" class="lBoxes" type="text" placeholder="Enter New Password">
          <h1 class="formTxt">Verify Password:</h1>
          <input class="lBoxes" type="text" placeholder="Verify New Password">
          <h1 class="formTxt">Organization Name:</h1>
          <input ng-model="organization.org_name"class="lBoxes" type="text" placeholder="Enter Organization name">
          <h1 class="formTxt">Organization Phone:</h1>
          <input ng-model="organization.org_phone"class="lBoxes" type="text" placeholder="Enter Organization phone">
          

        </div>
        <div class="BtnHolder">
          <button type="reset" id="cancelR" class="lBtns" ng-click="hide= false">Cancel</button>
          <button id="cancelR" type='submit' class="lBtns">Register</button>
        </div>
      </form>
    </div>
  </div>
  <section class="jumboTron">
    <div class="brandContainer">
      <div class="logoHolderL">
        <img src="./img/MattSucksWhiteBlue.svg" alt="Logo" />
      </div>
      <h1 class="logoTxt">Housing <span class="logoTxt logoTxtBlue">Helper</span></h1>
    </div>
  </section>
  <nav id="nav1">
    <div class="navLinkHolder">
      <div class="navLinks">
        <h1 id="link1" class="linkTxt">About</h1>
        <h1 id="link2" class="linkTxt">Get Started</h1>
        <h1 id="link3" class="linkTxt">Founders</h1>
      </div>
      <div class="navBtnHolder">
        <div id="loginBtn" class="navBtn">Login</div>
      </div>
    </div>
  </nav>
  <div id="part-one" class="aboutCon">
    <div class="aboutHolder">
      <img class="aboutPic" src="https://devmountain.com/img/location-housing.jpg" alt="house picture" />
      <h1 id="aboutTitle" class="homeTitles">About Our Site</h1>
      <div class="aboutTxtHolder">
        <p class="aboutTxt">
          Housing Helper is for apartment, condominium and dormitory managers. Housing Helper will manage your renters and apartments. You can directly interact with all aspects of your renters through this app. Get started below!
        </p>
      </div>
    </div>
  </div>
  <div id="part-two"  class="getStartedCon">
    <div class="getStarted">
      <h1 class="homeTitles">Get Started</h1>
      <div class="userAdminHolder">
        <div class="userHolder uAH">
          <h2 class="uATitle">Invited To Use</h2>
          <p class="uAText">If you already have an account with Housing Helper, log in below</p>
          <div class="uABtn" id="userBtn">Login</div>
        </div>
        <div class="centerBar"></div>
        <div class="adminHolder uAH">
          <h2 class="uATitle">Have An Organization</h2>
          <p class="uAText">Get started with Housing Helper for free by creating an organization. An organization isn't anything official: it's just a way to manage your apartments.</p>
          <div class="uABtn" id="adminBtn">Create Admin</div>
        </div>
      </div>
    </div>
  </div>
  <div id="part-three" class="footerDirCon">
    <footer-directive></footer-directive>
  </div>
</div>
