
<div class="home">
  <div class="login" id="existingLogin">
    <div class="loginHolder">
      <section ng-hide="!spin" class="LoggingIn">
        <h1>Logging In...</h1>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </section>
      <div class="loginTitle">
        <h1>Login</h1>
      </div>
      <form ng-submit='login(user)' class="loginInputs">
        <div class="iBoxHolder">
          <h1 class="formTxt">Email</h1>
          <input ng-model='user.email'class="lBoxes" type="text" placeholder="Enter Email">
          <h1 class="formTxt">Password</h1>
          <input ng-model='user.password' class="lBoxes" type="text" placeholder="Enter Password">
        </div>
        <div class="BtnHolder">
          <button id="cancelL" class="lBtns" ng-click="show= false">Cancel</button>
          <button type="submit" class="lBtns">Login</button>
        </div>
      </form>
    </div>
  </div>
  <div id="hideAdmin" class="login">
    <div class="loginHolder" id="createAdmin">
      <section ng-hide="!spin" class="LoggingIn">
        <h1>Creating User...</h1>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </section>
      <div class="loginTitle">
        <h1>Login</h1>
      </div>
      <form class="loginInputs">
        <div ng-submit='login(user)' class="iBoxHolder">
          <h1 class="formTxt">Email:</h1>
          <input ng-model="user.email" class="lBoxes" type="text" placeholder="Enter Email">
          <h1 class="formTxt">Create Password:</h1>
          <input ng-model="user.password" class="lBoxes" type="text" placeholder="Enter New Password">
          <h1 class="formTxt">Verify Password:</h1>
          <input ng-model="user.password2"class="lBoxes" type="text" placeholder="Verify New Password">
        </div>
        <div class="BtnHolder">
          <button id="cancelR" class="lBtns" ng-click="hide= false">Cancel</button>
          <button type='submit' class="lBtns">Register</button>
        </div>
      </form>
    </div>
  </div>
  <section class="jumboTron">
    <div class="brandContainer">
      <div class="logoHolderL">
        <img src="./img/MattSucksWhiteBlue.svg" alt="Logo" />
      </div>
      <h1 class="logoTxt">Housing <span class="logoTxt logoTxtBlue">Helper</span></h1>
    </div>
  </section>
  <nav id="nav1">
    <div class="navLinkHolder">
      <div class="navLinks">
        <h1 id="link1" class="linkTxt">About</h1>
        <h1 id="link2" class="linkTxt">Get Started</h1>
        <h1 id="link3" class="linkTxt">Founders</h1>
      </div>
      <div class="navBtnHolder">
        <div id="loginBtn" class="navBtn">Login</div>
      </div>
    </div>
  </nav>
  <div id="part-one" class="aboutCon">
    <div class="aboutHolder">
      <img class="aboutPic" src="https://devmountain.com/img/location-housing.jpg" alt="house picture" />
      <h1 id="aboutTitle" class="homeTitles">About Our Site</h1>
      <div class="aboutTxtHolder">
        <p class="aboutTxt">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
      </div>
    </div>
  </div>
  <div id="part-two"  class="getStartedCon">
    <div class="getStarted">
      <h1 class="homeTitles">Get Started</h1>
      <div class="userAdminHolder">
        <div class="userHolder uAH">
          <h2 class="uATitle">Invited To Use</h2>
          <p class="uAText">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          <div class="uABtn" id="userBtn">Login</div>
        </div>
        <div class="centerBar"></div>
        <div class="adminHolder uAH">
          <h2 class="uATitle">Have An Organization</h2>
          <p class="uAText">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          <div class="uABtn" id="adminBtn">Create Admin</div>
        </div>
      </div>
    </div>
  </div>
  <div id="part-three" class="footerDirCon">
    <footer-directive></footer-directive>
  </div>
</div>
