<div class="main adminMV">

  <div class="login" id="createApartment" ng-cloak>
    <div class="loginHolder">
      <section ng-hide="!spin" class="LoggingIn">
        <h1>Logging In...</h1>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </section>
      <div class="loginTitle">
        <h1>Add New Appartment</h1>
      </div>
      <form ng-submit='createApartment(apt)' class="loginInputs">
        <div class="iBoxHolder">
          <h1 class="formTxt">Title</h1>
          <input ng-model='apt.title'class="lBoxes" type="text" placeholder="Enter Apartment Name" required>
          <h1 class="formTxt">Apartment Number</h1>
          <input ng-model='apt.apt_num'class="lBoxes" type="text" placeholder="Enter Apartment Room Number">
          <h1 class="formTxt">Address</h1>
          <input ng-model='apt.address' class="lBoxes" type="text" placeholder="Enter Apartment Street Address" required>
          <h1 class="formTxt">City</h1>
          <select class="lBoxes" ng-model='apt.citiesid' ng-options='location.city for location in locations' required>
            <option value="">-- Choose City --</option>
          </select>
          <h1 class="formTxt">State</h1>
          <select class="lBoxes" ng-model='apt.aptstate' name="state">
          	<option value="AL">AL</option>
          	<option value="AK">AK</option>
          	<option value="AZ">AZ</option>
          	<option value="AR">AR</option>
          	<option value="CA">CA</option>
          	<option value="CO">CO</option>
          	<option value="CT">CT</option>
          	<option value="DE">DE</option>
          	<option value="DC">DC</option>
          	<option value="FL">FL</option>
          	<option value="GA">GA</option>
          	<option value="HI">HI</option>
          	<option value="ID">ID</option>
          	<option value="IL">IL</option>
          	<option value="IN">IN</option>
          	<option value="IA">IA</option>
          	<option value="KS">KS</option>
          	<option value="KY">KY</option>
          	<option value="LA">LA</option>
          	<option value="ME">ME</option>
          	<option value="MD">MD</option>
          	<option value="MA">MA</option>
          	<option value="MI">MI</option>
          	<option value="MN">MN</option>
          	<option value="MS">MS</option>
          	<option value="MO">MO</option>
          	<option value="MT">MT</option>
          	<option value="NE">NE</option>
          	<option value="NV">NV</option>
          	<option value="NH">NH</option>
          	<option value="NJ">NJ</option>
          	<option value="NM">NM</option>
          	<option value="NY">NY</option>
          	<option value="NC">NC</option>
          	<option value="ND">ND</option>
          	<option value="OH">OH</option>
          	<option value="OK">OK</option>
          	<option value="OR">OR</option>
          	<option value="PA">PA</option>
          	<option value="RI">RI</option>
          	<option value="SC">SC</option>
          	<option value="SD">SD</option>
          	<option value="TN">TN</option>
          	<option value="TX">TX</option>
          	<option value="UT">UT</option>
          	<option value="VT">VT</option>
          	<option value="VA">VA</option>
          	<option value="WA">WA</option>
          	<option value="WV">WV</option>
          	<option value="WI">WI</option>
          	<option value="WY">WY</option>
          </select>
          <h1 class="formTxt">Zipcode</h1>
          <input ng-model='apt.zipcode'class="lBoxes" type="text" placeholder="Enter Zipcode" required>
          </div>
        <div class="BtnHolder">
          <button id="cancelBtn" type='reset' class="lBtns" ng-click="show= false">Cancel</button>
          <button type="submit" class="lBtns">Create</button>
        </div>
      </form>
    </div>
  </div>

  <div class="login" id="createLocation" ng-cloak>
    <div class="loginHolder">
      <section ng-hide="!spin" class="LoggingIn">
        <h1>Logging In...</h1>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </section>
      <div class="loginTitle">
        <h1>Add New Location</h1>
      </div>
      <form ng-submit='createLocation(location)' class="loginInputs">
        <div class="iBoxHolder">
          <h1 class="formTxt">City Name</h1>
          <input ng-model='location.city'class="lBoxes" type="text" placeholder="Enter Location Name" required>
          <h1 class="formTxt">State</h1>
          <select ng-model='location.state' name="state">
            <option value="AL">AL</option>
            <option value="AK">AK</option>
            <option value="AZ">AZ</option>
            <option value="AR">AR</option>
            <option value="CA">CA</option>
            <option value="CO">CO</option>
            <option value="CT">CT</option>
            <option value="DE">DE</option>
            <option value="DC">DC</option>
            <option value="FL">FL</option>
            <option value="GA">GA</option>
            <option value="HI">HI</option>
            <option value="ID">ID</option>
            <option value="IL">IL</option>
            <option value="IN">IN</option>
            <option value="IA">IA</option>
            <option value="KS">KS</option>
            <option value="KY">KY</option>
            <option value="LA">LA</option>
            <option value="ME">ME</option>
            <option value="MD">MD</option>
            <option value="MA">MA</option>
            <option value="MI">MI</option>
            <option value="MN">MN</option>
            <option value="MS">MS</option>
            <option value="MO">MO</option>
            <option value="MT">MT</option>
            <option value="NE">NE</option>
            <option value="NV">NV</option>
            <option value="NH">NH</option>
            <option value="NJ">NJ</option>
            <option value="NM">NM</option>
            <option value="NY">NY</option>
            <option value="NC">NC</option>
            <option value="ND">ND</option>
            <option value="OH">OH</option>
            <option value="OK">OK</option>
            <option value="OR">OR</option>
            <option value="PA">PA</option>
            <option value="RI">RI</option>
            <option value="SC">SC</option>
            <option value="SD">SD</option>
            <option value="TN">TN</option>
            <option value="TX">TX</option>
            <option value="UT">UT</option>
            <option value="VT">VT</option>
            <option value="VA">VA</option>
            <option value="WA">WA</option>
            <option value="WV">WV</option>
            <option value="WI">WI</option>
            <option value="WY">WY</option>
          </select>
          </div>
        <div class="BtnHolder">
          <button id="cancelBtn2" type='reset' class="lBtns" ng-click="show= false">Cancel</button>
          <button type="submit" class="lBtns">Create</button>
        </div>
      </form>
    </div>
  </div>

  <div class="headerDirCon">
    <header-directive></header-directive>
  </div>
  <div class="mainCon">
    <div class="sNavDirCon">
      <side-nav-directive></side-nav-directive>
    </div>
    <div class="pageContent">
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE BELOW ~~~~~~~~~~~~~~~~~ -->
      <section class="adminMainView">
        <div class="addBtnHolder">
          <div id="addLocation" class="addBtn locBtn">Add New Location</div>
          <div id="addData" class="addBtn">Add New Apartment</div>
          <div class="helpBtn"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
        </div>
        <div class="dataHolder">

          <div class="locationNGR" ng-repeat='location in locations | unique: "location.city"'>
            <div class="cityTitle">
              <h1>{{location.city}}</h1>
            </div>
          <div ng-repeat='apt in apartments | filter: {city: location.city}' class="showData">
            <div class="mainData">

              <h1>{{apt.title}}, {{apt.apt_num}}</h1>
              <div>
                <h5>Address: {{apt.address}} {{apt.city}}, {{apt.state}} {{apt.zipcode}}</h5>
                  <h5>Occupancy: {{apt.currentocc}} / {{apt.totalocc}}</h5>
                  <hr>
                  <h5>Renters:</h5>
                  <ul>
                    <li ng-repeat='renter in users | filter: {aptid: apt.id}'>
                      <h5>Name:{{renter.firstname}} {{renter.lastname}} {{renter.title}}</h5>
                      <h5>Email: {{renter.email}}</h5>
                      <br>
                    </li>
                  </ul>
              </div>
            </div>
            <div class="btnHolder">
              <div id="delete" class="dataBtns">
                <h1 class="trashCan"><i class="fa fa-trash" aria-hidden="true"></i></h1></div>
                <div ui-sref="update.apt" id="edit" class="dataBtns">
                <h1 class="btnTxt">e<br>d<br>i<br>t<br><br>a<br>p<br>a<br>r<br>t<br>m<br>e<br>n<br>t</h1>
                </div>
            </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ~~~~~~~~~~~~~~~EDIT PAGE ABOVE ~~~~~~~~~~~~~~~~~ -->
    </div>
  </div>
</div>
