<section class="updateUserHolder">
  <h1 class="pageTitle">Update User</h1>
  <form ng-submit='editUser(user)' class="formCon">
    <section class="inputContainer">
      <div class="content contentLeft">
        <!-- this is where we start putting inputs left side -->
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">First Name</h1>
          <h1 class="currentInfo">{{user.firstname}}</h1>
        </div>
        <input ng-model="user.firstname" class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Last Name</h1>
          <h1 class="currentInfo">{{user.lastname}}</h1>
        </div>
        <input ng-model="user.lastname" class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Private Room</h1>
          <h1 class="currentInfo">{{user.private_room?"Yes":"No"}}</h1>
        </div>
        <div class="ynHolder">
          <label><input type="radio" ng-model="user.private_room" name="" value="true">Yes</label>
          <label><input type="radio" ng-model="user.private_room" name="" value="false">No</label>
        </div>

        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Gender</h1>
          <h1 class="currentInfo">{{user.gender}}</h1>
        </div>
        <select ng-model="user.gender"class="inputBox" name="">
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="O">Other</option>
        </select>
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Birth Date</h1>
          <h1 class="currentInfo">{{user.dob | date: 'shortDate'}}</h1>
        </div>
        <input ng-model="user.dob" class="inputBox" type="date">
        <!-- new input -->

        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Hometown</h1>
          <h1 class="currentInfo">{{user.hometown}}</h1>
        </div>
        <input ng-model="user.hometown" class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Phone</h1>
          <h1 class="currentInfo">{{user.phone}}</h1>
        </div>
        <input ng-model="user.phone" class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Car Make</h1>
          <h1 class="currentInfo">{{user.carmake}}</h1>
        </div>
        <input ng-model="user.carmake" class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Car Model</h1>
          <h1 class="currentInfo">{{user.carmodel}}</h1>
        </div>
        <input ng-model="user.carmodel" class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Car Year</h1>
          <h1 class="currentInfo">{{user.caryear}}</h1>
        </div>
        <input ng-model="user.caryear" class="inputBox" type="text">

        <!-- this is where we end putting inputs left side -->
      </div>
      <div class="centerBar"></div>
      <div class="content contentRight">
        <!-- this is where we start putting inputs right side -->
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Is Admin?</h1>
          <h1 class="currentInfo">{{user.isadmin?"Yes":"No"}}</h1>
        </div>
        <select ng-model="user.isadmin" class="inputBox" name="">
          <option value="False">User</option>
          <option value="True">Admin</option>
        </select>
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Apartment #</h1>
          <h1 class="currentInfo">{{user.aptid}}</h1>
        </div>
        <select ng-model="user.aptid" class="inputBox" name="">
          <option value="option1">option1</option>
          <option value="option2">option2</option>
        </select>
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Room #</h1>
          <h1 class="currentInfo">{{user.roomid}}</h1>
        </div>
        <select ng-model="user.roomid" class="inputBox" name="">
          <option value="option1">option1</option>
          <option value="option2">option2</option>
        </select>
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Group</h1>
          <h1 class="currentInfo">{{user.groupid}}</h1>
        </div>
        <select ng-model="user.groupid" class="inputBox" name="">
          <option value="option1">option1</option>
          <option value="option2">option2</option>
        </select>
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Lease Start</h1>
          <h1 class="currentInfo">{{user.leasestart}}</h1>
        </div>
        <input ng-model="user.leasestart" class="inputBox" type="date">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Lease End</h1>
          <h1 class="currentInfo">{{user.leaseend}}</h1>
        </div>
        <input ng-model="user.leaseend" class="inputBox" type="date">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Pay Date</h1>
          <h1 class="currentInfo">{{user.paydate}}</h1>
        </div>
        <input ng-model="user.paydate" class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Rent Amount</h1>
          <h1 class="currentInfo">{{user.rentamt | currency}}</h1>
        </div>
        <input ng-model="user.rentamt" class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Check In Time</h1>
          <h1 class="currentInfo">{{user.checkintime}}</h1>
        </div>
        <input class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Check Out Time</h1>
          <h1 class="currentInfo">{{user.checkouttime}}</h1>
        </div>
        <input class="inputBox" type="text">



        <!-- this is where we end putting inputs right side -->
      </div>
    </section>
    <section class="btnHolder">
      <button ng-click="fadeOut()" ui-sref="adminRenters" type="reset" class="actionBtns" type="button" name="button">Cancel</button>
      <button ng-click="fadeOut()" ui-sref="adminRenters" class="actionBtns" type="submit" name="button">Update</button>
    </section>
  </form>
</section>
