<section class="updateUserHolder">
  <h1 class="pageTitle">Update User</h1>
  <form class="formCon">
    <section class="inputContainer">
      <div class="content contentLeft">
        <!-- this is where we start putting inputs left side -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Input Title:</h1>
          <h1 class="currentInfo">{Current Value}</h1>
        </div>
        <input class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Input Title:</h1>
          <h1 class="currentInfo">{Current Value}</h1>
        </div>
        <input class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Input Title:</h1>
          <h1 class="currentInfo">{Current Value}</h1>
        </div>
        <input class="inputBox" type="text">
        <!-- this is where we end putting inputs left side -->
      </div>
      <div class="centerBar"></div>
      <div class="content contentRight">
        <!-- this is where we start putting inputs right side -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Input Title:</h1>
          <h1 class="currentInfo">{Current Value}</h1>
        </div>
        <input class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Input Title:</h1>
          <h1 class="currentInfo">{Current Value}</h1>
        </div>
        <input class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Input Title:</h1>
          <h1 class="currentInfo">{Current Value}</h1>
        </div>
        <input class="inputBox" type="text">
        <!-- this is where we end putting inputs right side -->
      </div>
    </section>
    <section class="btnHolder">
      <button class="actionBtns" type="button" name="button">Cancel</button>
      <button class="actionBtns" type="submit" name="button">Update</button>
    </section>
  </form>
</section>
