<section class="updateUserHolder">
  <h1 class="pageTitle">Update User</h1>
  <form ng-submit='editUser(user)' class="formCon">
    <section class="inputContainer">
      <div class="content contentLeft">
        <!-- this is where we start putting inputs left side -->
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">First Name</h1>
          <h1 class="currentInfo">{{user.firstname}}</h1>
        </div>
        <input ng-model="user.firstname" class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Last Name</h1>
          <h1 class="currentInfo">{{user.lastname}}</h1>
        </div>
        <input ng-model="user.lastname" class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Private Room</h1>
          <h1 class="currentInfo">{{user.private_room}}</h1>
        </div>
        <label><input type="radio" ng-model="user.private_room" name="" value="true">Yes</label><label><input type="radio" ng-model="user.private_room" name="" value="false">No</label>

        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Gender</h1>
          <h1 class="currentInfo">{{user.gender}}</h1>
        </div>
        <select ng-model="user.gender" class="inputBox" name="">
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="O">Other</option>
        </select>
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Birth Date</h1>
          <h1 class="currentInfo">{{user.dob}}</h1>
        </div>
        <input ng-model="user.dob" class="inputBox" type="text">
        <!-- new input -->

        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Hometown</h1>
          <h1 class="currentInfo">{{user.hometown}}</h1>
        </div>
        <input ng-model="user.hometown" class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Phone</h1>
          <h1 class="currentInfo">{{user.phone}}</h1>
        </div>
        <input ng-model="user.phone" class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Car Make</h1>
          <h1 class="currentInfo">{{user.carmake}}</h1>
        </div>
        <input ng-model="user.carmake" class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Car Model</h1>
          <h1 class="currentInfo">{{user.carmodel}}</h1>
        </div>
        <input ng-model="user.carmodel" class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Car Year</h1>
          <h1 class="currentInfo">{{user.caryear}}</h1>
        </div>
        <input ng-model="user.caryear" class="inputBox" type="text">

        <!-- this is where we end putting inputs left side -->
      </div>
      <div class="centerBar"></div>
      <div class="content contentRight">
        <!-- this is where we start putting inputs right side -->
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Is Admin?</h1>
          <h1 class="currentInfo">{{user.isadmin}}</h1>
        </div>
        <select ng-model="user.isadmin" class="inputBox" name="">
          <option value=false>No</option>
          <option value=true>Yes</option>
        </select>
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Apartment #</h1>
          <h1 class="currentInfo"></h1>
        </div>
        <select ng-model="user.aptid" class="inputBox" name="" ng-options="apartment.id as (apartment.title + ' ' + apartment.apt_num) for apartment in apartments">
          <option value="">{{apartment.id}}</option>
        </select>

        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Group</h1>
          <h1 class="currentInfo"></h1>
        </div>
        <select ng-model="user.groupid" class="inputBox" name="" ng-options="group.id as group.title for group in groups">
          <option value="">{{group.id}}</option>
        </select>
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Lease Start</h1>
          <h1 class="currentInfo">{{user.leasestart}}</h1>
        </div>
        <input ng-model="user.leasestart" class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Lease End</h1>
          <h1 class="currentInfo">{{user.leaseend}}</h1>
        </div>
        <input ng-model="user.leaseend" class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Pay Date</h1>
          <h1 class="currentInfo">{{user.paydate}}</h1>
        </div>
        <input ng-model="user.paydate" class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Rent Amount</h1>
          <h1 class="currentInfo">{{user.rentamt | currency}}</h1>
        </div>
        <input ng-model="user.rentamt" class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Check In Time</h1>
          <h1 class="currentInfo">{{user.checkintime}}</h1>
        </div>
        <input class="inputBox" type="text">
        <!-- new input -->
        <div class="inputTitlesHolder">
          <h1 class="inputTitle">Check Out Time</h1>
          <h1 class="currentInfo">{{user.checkouttime}}</h1>
        </div>
        <input class="inputBox" type="text">



        <!-- this is where we end putting inputs right side -->
      </div>
    </section>
    <section class="btnHolder">
      <button ui-sref="adminRenters" type="reset" class="actionBtns" type="button" name="button">Cancel</button>
      <button class="actionBtns" type="submit" name="button">Update</button>
    </section>
  </form>
</section>
